.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.NavBar{
  padding: 2px;
  background-color: black;
  display: flex;
  color: white;
}
.Logo{
  display: flex;
  margin: auto 10px;
  height: 60px;
}
.Logo> img{
  margin: auto 10px;
}
.Logo> h2{
  margin: auto 10px;
}
input{
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 30px;
}
.card-content-active{
  display: inline-table;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
  height: 480px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 10px 10px;
  font-size: 13px;
  padding: 10px;
 
}
.card-content-active> img{
  margin: 10px 40px;
  width: 200px;
  
}
.card-content-deactive> img{
  display: none;

}
#list>p{
  text-align: justify;
}
.button{
  margin: 2px auto;
  background-color: rgb(180, 180, 175);
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border-style: none;
}

.active{
  margin:10px 10px;
  text-align: center;
}
.deactive{
  display:none;
}
#Home:hover{
  cursor: pointer;
  color: aqua;
}
#detail{
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 90%;
  height: 550px;
  padding : 30px;
}
#detail>img{
  width :800px;
}
#detail>p{
  text-align: center;
  align-items: center;

}
